@using LightBDD.Reporting.Progressive.UI.Models
@using LightBDD.Reporting.Progressive.UI.Utils
@using System.Net
@implements IDisposable;
@inherits ModelViewComponent;

<div>
    <div>
        @(ChangesCounter) @(Model.Status.ToString()) @(Model.GroupPrefix)@(Model.Number) @(Model.Name.TypeName) @(Model.Name.Name)
        @if (Model.ExecutionTime.HasValue)
        {
            <span> (@((int)Model.ExecutionTime.Value.TotalMilliseconds)ms)</span>
        }
    </div>
    @if (Model.Comments.Any())
    {
        <div class="sub-group">
            @foreach (var comment in Model.Comments)
            {
                <div><i>@comment.Comment</i></div>
            }
        </div>
    }
    @if (Model.SubSteps.Any())
    {
        <div class="sub-group">
            @foreach (var subStep in Model.SubSteps)
            {
                <StepView Model="@subStep" />
            }
        </div>
    }
</div>

@code {

    private readonly ObservableProperty<IStepModel> _model;

    public StepView()
    {
        _model = new ObservableProperty<IStepModel>(ModelHasChanged);
    }

    [Parameter]
    public IStepModel Model
    {
        get => _model.Value;
        set => _model.Value = value;
    }

    public void Dispose()
    {
        _model?.Dispose();
    }
}
